<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- <title>Welcome</title> -->
  <link type="text/css" rel="stylesheet" href="/css/component-sidebar.css" />
  <link type="text/css" rel="stylesheet" href="/css/addpage.css" />
  <link type="text/css" rel="stylesheet" href="/css/body.css" />
  <link type="text/css" rel="stylesheet" href="/css/navtools.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</head>

<body>

  <%- include ("./component/sidebar.ejs") -%>
    <div>
      <h1>Add Raspberry Pi</h1>
    </div>
    <br />
    <div id="navtools">
      <div class="inputfind">
        <img class="search" src="/img/search.png" alt="search" />
        <input id="findname" type="text">
      </div>
      <div id="copyapi">
        <button>Ok</button>
      </div>
    </div>
    <br />
    <div class="container-flex" id="listproject">
      <div class="listproject" id="addsymbol" data-toggle="modal" data-target="#AddProjectModal">
        <img src="/img/addpage.png" alt="addpagesymbol" />
      </div>
      <% for(let i=0; i < dataaddpObj.length; i++){ %>
        <% if(dataaddpObj[i].status) {%>
          <div class="listproject">
            <div class="listpro-card">
              <div class="listpro-front">
                <p id="namedevice">
                  <%= dataaddpObj[i].name %>
                </p>
              </div>
              <div class="listpro-back">
                <div class="closebutton" onclick="todeleteraspi(`<%= dataaddpObj[i].name %>`)">&times;
                </div>
                <p onclick="location.href='/selectraspi/<%= dataaddpObj[i].name %>';">
                  <%= dataaddpObj[i].descrip %>
                </p>
              </div>
            </div>
          </div>

          <% }else{ %>
            <div class="listproject">
              <div class="listpro-card">
                <div class="listpro-front"
                  style="border-color: rgb(110, 110, 110, 0.76);background-color: rgba(110, 110, 110, 0.233);">
                  <p id="namedevice">
                    <%= dataaddpObj[i].name %>
                  </p>
                </div>
                <div class="listpro-back"
                  style="border-color: rgb(110, 110, 110, 0.76);background-color: rgba(110, 110, 110, 0.233);">
                  <div class="closebutton" onclick="todeleteiot(`<%= dataaddpObj[i].name %>`)"> &times;</div>
                  <p onclick=" location.href='/selectraspi/<%= dataaddpObj[i].name %>' ;">
                    <%= dataaddpObj[i].descrip %>
                  </p>
                </div>
              </div>
            </div>
            <% }} %>
    </div>

    <div class="modal fade" id="AddProjectModal" tabindex="-1" aria-labelledby="AddProjectModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Add Raspberry</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="formraspi" action="">
              <!-- method="POST" action="/apipost/raspi" -->
              <div class="form-group">
                <label for="InputName">Name</label>
                <input type="text" name="nameraspi" class="form-control" id="nameraspi" aria-describedby="nameHelp"
                  required>
                <small id="alertname" class="form-text text-muted">
                </small>
              </div>
              <div class="form-group">
                <label for="InputDescripRas">Descript</label>
                <textarea class="form-control" name="descripraspi" id="descripraspi" rows="3" required></textarea>
              </div>
              <small id="alertdes" class="form-text text-muted">
              </small>
              <right>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" id="submit" class="btn btn-primary">Submit</button>
              </right>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- confirm model -->
    <div class="modal fade" id="confirmModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="toglemessage">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="closedelete" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="Confirmdelete" data-dismiss="modal">Confirm</button>
          </div>
        </div>
      </div>
    </div>

    <!-- error model -->
    <div class="modal fade" id="errModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Error to delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="errmessage">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <script>
      // $(document).ready(() => {
      //   $('#testtext').click((e) => {
      //     e.preventDefault();
      //     alert($("#test").val());;
      //   })
      // })
      // add raspi process
      $(document).ready(() => {
        $("#submit").click((e) => {
          e.preventDefault();
          $("#alertname").empty();
          $("#alertdes").empty();
          if ($("#nameraspi").val() === "") {
            $("#alertname").append("please full fill name.")
          } else if ($("#descripraspi").val() === "") {
            $("#alertdes").append("plese full fill descrip")
          } else {
            $.ajax({
              url: '/apipost/raspi',
              type: 'POST',
              data: ({ nameraspi: $("#nameraspi").val(), descripraspi: $("#descripraspi").val() }),
              success: (data) => {
                $("#nameraspi").val('');
                $('#descripraspi').val('');
                $('#AddProjectModal').modal('hide');
              },
              error: (err) => {
                $("#alertname").append(err.responseJSON.err.errors.name.message);
                console.log(err.responseJSON.err.errors.name.message);
              },

            })
          }
        })
      })

      function todeleteiot(api) {
        $(document).ready((e) => {
          $('#confirmModal').modal('toggle');
          $('#toglemessage').text(`Are you sure to delete ${api}?`)
          $("#Confirmdelete").on('click', () => {
            $.ajax({
              url: `/apidelete/ras/${api}`,
              type: 'GET',
              // success: (suc) => { alert("already") },
              error: (err) => {
                console.log(api);
                $('#errmessage').text(`Can not find ${api} in database.`);
                $('#errModal').modal('toggle');
              }
            })
          })
        })
      }
    </script>
</body>

</html>