<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <title>Welcome</title> -->
    <link type="text/css" rel="stylesheet" href="/css/component-sidebar.css" />
    <link type="text/css" rel="stylesheet" href="/css/addpage.css" />
    <link type="text/css" rel="stylesheet" href="/css/body.css" />
    <link type="text/css" rel="stylesheet" href="/css/navtools.css" />
    <link type="text/css" rel="stylesheet" href="/css/iotdev.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />

    <script type="text/javascript" src="/function/plotgraph.js"></script>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</head>

<body>
    <%- include ("./component/sidebar.ejs") -%>
        <div>
            <h1>
                <%= nameiotdev %>
            </h1>
        </div>
        <br />
        <div id="navtools">
            <div class="inputfind">
                <img class="search" src="/img/search.png" alt="search" />
                <input id="findname" type="text" placeholder="Search...">
            </div>
            <div id="copyapi">
                <button type="button" class="btn btn-success" name="buttonnav" data-toggle="modal"
                    data-target="#AddGraph">@Graph</button>
                <!-- <button type="button" class="btn btn-success" id="copyapi" name="buttonnav" data-bs-toggle="tooltip"
                    data-bs-placement="top" title="Copy Api for Raspberry Pi">Copy Api</button> -->
            </div>
        </div>
        <br />
        <div class="container-flex" id="creategraph">
            <!-- <div class="list-graph">
                <div id='myDiv'></div>
            </div> -->
        </div>

        <div class="modal fade" id="AddGraph" tabindex="-1" aria-labelledby="AddGraph" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Add Graph</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group row">
                                <label for="GraphName" class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="GraphName" placeholder="Graph name...">
                                    <small id="alertname" class="form-text text-muted">
                                    </small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="choosedata" class="col-sm-2 col-form-label">Data</label>
                                <% if(exampledata[exampledata.length - 1].data[0] !=="" || exampledata.length> 1 ) {%>
                                    <div class="col-sm-10">
                                        <select id="inputStatedata" class="form-control">
                                            <option selected disabled>Choose...</option>
                                            <% for(let i=0; i < amountdata; i++) {%>
                                                <option>data<%= i +1 %>
                                                </option>
                                                <% } %>
                                        </select>
                                        <% for(let i=0; i < amountdata; i++) {%>
                                            <small class="form-text text-muted">data<%= i+1%>:
                                                    <% for(let j=exampledata.length - 1; j < exampledata.length;j++) {
                                                        %>
                                                        <% if(exampledata[j].data[i] !=="" ){ %>
                                                            <%= exampledata[j].data[i] %>,
                                                                <% }%>
                                                                    <% } %>
                                                                        ...
                                            </small>
                                            <% } %>
                                                <small id="alertstatedata" class="form-text text-muted"></small>
                                    </div>
                                    <% } else {%>
                                        <div class="col-sm-10">
                                            <select id="inputStatedata" class="form-control">
                                                <option selected disabled>Choose...</option>
                                            </select>
                                        </div>
                                        <% } %>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2">Graph</div>
                                <div class="col-sm-10">
                                    <select id="inputStateGraph" class="form-control">
                                        <option selected disabled>Choose...</option>
                                        <option>lines+markers</option>
                                        <option>scattermapbox</option>
                                    </select>
                                    <small id="alertstategraph" class="form-text text-muted">
                                    </small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="GraphName" class="col-sm-2 col-form-label">X-axis</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="xaxis" placeholder="Name...">
                                    <small id="alertname" class="form-text text-muted">
                                    </small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="GraphName" class="col-sm-2 col-form-label">Y-axis</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="yaxis" placeholder="Name...">
                                    <small id="alertname" class="form-text text-muted">
                                    </small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="GraphColor" class="col-sm-2 col-form-label">Color</label>
                                <div class="col-sm-5">
                                    <input type="color" class="form-control form-control-color" id="GraphColor"
                                        value="#bdbdbd" title="Choose your color">
                                </div>
                            </div>
                            <right>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" id="submit" class="btn btn-primary">Submit</button>
                            </right>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="confirmModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="toglemessage">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="closedelete"
                            data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="Confirmdelete"
                            data-dismiss="modal">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
</body>
<script>
    $(document).ready(() => {
        $("#submit").click((e) => {
            e.preventDefault();
            $("#alertname").empty();
            $("#alertstatedata").empty();
            $("#alertstategraph").empty();
            if ($("#GraphName").val() === "") {
                $("#alertname").append("please full fill name.")
            } else if ($("#inputStatedata").val() === "Choose...") {
                $("#alertstatedata").append("please choose data.")
            } else if ($("#inputStateGraph").val() === "Choose...") {
                $("#alertstategraph").append("please choose type.")
            } else {
                $.ajax({
                    url: `/apiput/dashboard/<%= nameiotdev %>`,
                    type: 'PUT',
                    data: ({ graphname: $("#GraphName").val(), datapositon: $("#inputStatedata").val().replace(/[^0-9.]/g, "") - 1, typegraph: $("#inputStateGraph").val(), colorgraph: $("#GraphColor").val().replace(/#/g, ""), xaxis: $("#xaxis").val(), yaxis: $("#yaxis").val() }),
                    success: (data) => {
                        // console.log($("#inputStatedata").val());
                        $("#GraphName").val('');
                        $('#inputStatedata').val('Choose...');
                        $('#inputStateGraph').val('Choose...');
                        $('#AddGraph').modal('hide');
                    },
                })
            }
            location.reload();
        })
        // $(`<div class="list-graph">hello</div>`).appendTo('#creategraph');
        $.ajax({
            url: `/apiget/n/<%= nameiotdev %>`,
            type: 'GET',
            success: (datagraph) => {
                let rawdata = datagraph.graph.slice(1, datagraph.graph.length);
                // console.log(rawdata);
                if (datagraph.iotgraph.length === 0) {
                    $('<div id="alertaddgraph">Please add data graph.</div>').appendTo('#creategraph');
                } else {
                    datagraph.iotgraph.forEach((e) => {
                        $(`<div class="list-graph"><div class="closebutton" onclick="todeletegraph('${datagraph.name}','${e._id}')">&times;</div>
                            <div id="name-G">${e.graphname}</div><div class="data-graph" id="${e._id}"></div>`).appendTo('#creategraph');
                        if (e.typegraph === "lines+markers") {
                            var trace1 = {
                                type: "scatter",
                                mode: `${e.typegraph}`,
                                // name: 'AAPL High',
                                x: plottime(rawdata),
                                y: plotgraph(rawdata, `${e.dataposition}`),
                                line: { color: `#${e.color}` }
                            }
                            var data = [trace1];
                            let yaxis = e.yaxis !== undefined ? `${e.yaxis}` : `Data${e.dataposition}`;
                            var layout = {
                                xaxis: {
                                    title: {
                                        text: 'Date',
                                        font: {
                                            family: 'Courier New, monospace',
                                            size: 18,
                                            color: '#7f7f7f'
                                        }
                                    },
                                    autorange: true,
                                    type: 'date'
                                },
                                yaxis: {
                                    title: {
                                        text: yaxis,
                                        font: {
                                            family: 'Courier New, monospace',
                                            size: 18,
                                            color: '#7f7f7f'
                                        }
                                    },
                                    autorange: true,
                                    type: 'linear'
                                },
                                // showlegend: true
                            };

                            Plotly.newPlot(`${e._id}`, data, layout);
                        } else if (e.typegraph === "scattermapbox") {
                            // function unpack(rows, key) {
                            //     return rows.map(function (row) { return row[key]; });
                            // }

                            // function getMaxOfArray(numArray) {
                            //     return Math.max.apply(null, numArray);
                            // }
                            var data = [];
                            // var count = unpack(rows, 'cnt');
                            var Lons = plotmap(rawdata, `${e.dataposition}`, 1);
                            var Lats = plotmap(rawdata, `${e.dataposition}`, 0);

                            for (var i = 0; i < rawdata.length - 1; i++) {
                                // var opacityValue = count[i] / getMaxOfArray(count);

                                var result = {
                                    type: 'scattermapbox',
                                    name: `${plottime(rawdata)[i].replace(/[-| :]/gi, "")}`,
                                    // locationmode: 'USA-states',
                                    lon: [Lons[i], Lons[i + 1]],
                                    lat: [Lats[i], Lats[i + 1]],
                                    mode: 'lines',
                                    line: {
                                        width: 2,
                                        color: `#${e.color}`
                                    },
                                    // opacity: opacityValue
                                };

                                data.push(result);
                            };

                            var layout = {
                                // title: 'Feb. 2011 American Airline flight paths',
                                showlegend: false,
                                mapbox: {
                                    style: "stamen-terrain",
                                    center: { lon: Lons[0], lat: Lats[0] },
                                    zoom: 5
                                },
                            };

                            Plotly.newPlot(`${e._id}`, data, layout, { showLink: false });
                        }
                    });
                }
            }
        })
        if ($("#inputStateGraph").val() === "scattermapbox") {
            $("#inputStatedata").hidden();
        }
    })
    function todeletegraph(nameiotdev, id) {
        $(document).ready((e) => {
            $('#confirmModal').modal('toggle');
            $('#toglemessage').text(`Are you sure to delete ?`)
            $("#Confirmdelete").on('click', () => {
                $.ajax({
                    url: `/apidelete/graph/${nameiotdev}/${id}`,
                    type: 'GET',
                    // success: (suc) => { alert("already") },
                    error: (err) => { // error it's not run while using it
                        console.log(id);
                        $('#errmessage').text(`Can not find ${id} in database.`);
                        $('#errModal').modal('toggle');
                    }
                })
                location.reload();
            })
        })
    }
</script>

</html>