<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- <title>Welcome</title> -->
  <link type="text/css" rel="stylesheet" href="/css/component-sidebar.css" />
  <link type="text/css" rel="stylesheet" href="/css/addpage.css" />
  <link type="text/css" rel="stylesheet" href="/css/body.css" />
  <link type="text/css" rel="stylesheet" href="/css/navtools.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
  <!-- <script type="text/javascript" src="/function/socket.io/client-dist/socket.io.min.js"></script> -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <!-- integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous" -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</head>

<body>
  <%- include ("./component/sidebar.ejs") -%>
    <div>
      <h1>
        <%= nameRasPi %>
      </h1>
    </div>
    <br />
    <div id="navtools">
      <div class="inputfind">
        <img class="search" src="/img/search.png" alt="search" />
        <input id="findname" type="text" placeholder="Search...">
      </div>
      <div>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#editip">Edit
          IP</button>
        <% if(idRasPi.status){ %>
          <button type="button" class="btn btn-success" id="connectedtoras" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Status" disabled>Connected</button>
          <% }else{ %>
            <button type="button" class="btn btn-danger" id="connectedtoras" data-bs-toggle="tooltip"
              data-bs-placement="top" title="Status">Connect</button>
            <% } %>
      </div>
    </div>
    <br />
    <div class="container-flex">
      <div class="listproject" id="addsymbol" data-toggle="modal" data-target="#AddIotModal">
        <img src="/img/addpage.png" alt="addiotsymbol" />
      </div>
      <% for(let i=0; i < dataRasPiObj.length; i++) { %>
        <% if(true) { %>
          <div class="listproject">
            <div class="listpro-card">
              <div class="listpro-front">
                <p>
                  <%= dataRasPiObj[i].name %>
                </p>
              </div>
              <div class="listpro-back">
                <div class="closebutton" onclick="todeleteiot(`<%= dataRasPiObj[i].name %>`)">&times;</div>
                <p onclick="location.href='/dashboard/<%= dataRasPiObj[i].name %>'">
                  <%= dataRasPiObj[i].descrip %>
                </p>
              </div>
            </div>
          </div>
          <% }else{ %>
            <div class="listproject">
              <div class="listpro-card">
                <div class="listpro-front"
                  style="border-color: rgb(110, 110, 110, 0.76);background-color: rgba(110, 110, 110, 0.233);">
                  <p>
                    <%= dataRasPiObj[i].name %>
                  </p>
                </div>
                <div class="listpro-back"
                  style="border-color: rgb(110, 110, 110, 0.76);background-color: rgba(110, 110, 110, 0.233);">
                  <div class="closebutton" onclick="todeleteiot(`<%= dataRasPiObj[i].name %>`)">&times;</div>
                  <p onclick="location.href='/dashboard/<%= dataRasPiObj[i].name %>'">
                    <%= dataRasPiObj[i].descrip %>
                  </p>
                </div>
              </div>
            </div>
            <% }} %>
    </div>

    <!-- Modal for add iot device-->
    <div class="modal fade" id="AddIotModal" tabindex="-1" aria-labelledby="AddIotModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Add Iot Device</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="formiot" action="">
              <!-- <action="/apipost/<%= nameRasPi %>/iot"> -->
              <div class="form-group">
                <label for="InputName">Name/Topic</label>
                <input type="text" name="nameiot" class="form-control" id="nameiot" aria-describedby="nameHelp"
                  required>
                <small id="alertname" class="form-text text-muted"></small>
              </div>
              <div class="form-group">
                <label for="InputDescripRas">Descript</label>
                <textarea class="form-control" name="descripiot" id="descripiot" rows="3" required></textarea>
                <small id="alertdes" class="form-text text-muted"></small>
              </div>
              <!-- <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div> -->
              <right>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" id="submit" class="btn btn-primary">Submit</button>
              </right>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- confirm model -->
    <div class="modal fade" id="confirmModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="toglemessage">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="closedelete" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="Confirmdelete" data-dismiss="modal">Confirm</button>
          </div>
        </div>
      </div>
    </div>

    <!-- error model -->
    <div class="modal fade" id="errModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Error to delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="errmessage">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="editip" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group row">
                <label for="GraphName" class="col-sm-2 col-form-label">New IP</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="newip" placeholder="Ip..." required>
                  <small id="ipexample" class="form-text text-muted">old ip: <%= idRasPi.ip %></small>
                </div>
              </div>
              <right>
                <button type="button" class="btn btn-secondary" id="closeip" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="confirmip" data-dismiss="modal">Submit</button>
              </right>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(() => {
        var socket = io();
        $('#connectedtoras').click((e) => {
          e.preventDefault(); // prevents page reloading
          socket.emit('state', `<%= idRasPi.name %>`, `<%= idRasPi.status %>`);
          socket.emit('chat message', `<%= idRasPi.name %>`, `<%= idRasPi.password %>`, `<%= idRasPi.ip %>`);
          setTimeout(() => {
            location.reload();
          }, 3000);
          // socket.on('returnstate', () => {
          //   location.reload();
          // })
          // return false;
        });
      });

      $(document).ready(() => {
        $("#submit").click((e) => {
          e.preventDefault();
          $("#alertname").empty();
          $("#alertdes").empty();
          if ($("#nameiot").val() === "") {
            $("#alertname").append("please full fill name.")
          } else if ($("#descripiot").val() === "") {
            $("#alertdes").append("plese full fill descrip")
          } else {
            $.ajax({
              url: `/apipost/<%= nameRasPi %>/iot`,
              type: 'POST',
              data: ({ nameiot: $("#nameiot").val(), descripiot: $("#descripiot").val() }),
              success: (data) => {
                $('#nameiot').val('');
                $('#descripiot').val('');
                $('#AddIotModal').modal('hide');
                location.reload();
              },
              error: (err) => {
                $("#alertname").append(err.responseJSON.err.errors.name.message);
                console.log(err.responseJSON.err.errors.name.message);
              }
            })
          }
        })
        $("#confirmip").click((e) => {
          e.preventDefault();
          $.ajax({
            url: `/apiput/ip/<%= nameRasPi %>`,
            type: 'PUT',
            data: ({ ip: $("#newip").val() }),
            success: (data) => {
              location.reload();
            }
          })
        })
      })

      function todeleteiot(api) {
        $(document).ready((e) => {
          // e.preventDefault();
          $('#confirmModal').modal('toggle');
          $('#toglemessage').text(`Are you sure to delete ${api} ? `)
          $("#Confirmdelete").on('click', () => {
            $.ajax({
              url: `/apidelete/${api}`,
              type: 'GET',
              success: (suc) => { location.reload(); },
              error: (err) => {
                console.log(api)
                $('#errmessage').text(`Can not find ${api} in database.`);
                $('#errModal').modal('toggle');
              }
            })
          })
        })
      }
    </script>
</body>

</html>